extends layout

block content
  h1 PhotoJeeves
  h2 Albums Status
  p=''
  a(href='synchronizeAlbumNames') Synchronize album names
  p=''
  a(href='downloadNewAlbums') Download new albums
  p=''
  a(href='regenerateManifest') Regenerate manifest from db
  p=''

  table
    thead
      tr
        th Google Album Name
        th Google # of Photos
        th Db Album Name
        th Db # of Photos
        th Hard disk # of Photos
    tbody
      each album in albums
        tr
          td= album.googleTitle
          td= album.googlePhotoCount
          td= album.dbTitle
          td= album.dbPhotoCount
          td= album.hdPhotoCount
    