doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 PhotoJeeves
    p= 'Checking for new content...'
    p
    p(id='googleAlbumCount')= 'Number of albums in the cloud: ' + googleAlbumCount
    p Albums in the cloud not on the desktop
    ul
      each val, index in ['test', 'norway', 'family']
        li= val
    p(id='localAlbumCount')= 'Number of local albums: ' + downloadedAlbumCount
    p Albums on the desktop no longer in the cloud
    p
    p Albums with content differences between the desktop and the cloud
    p
    p= 'Number of existing albums that need updates: ' + outOfDateAlbumsCount
    p
    p= ''
    p= ''
    p(id='localMediaCount')= 'Number of local media items: ' + downloadedMediaItemCount
    p= 'Number of media items in the cloud: ' + cloudMediaItemsCount
    script
      include ../public/scripts/sse.js

